<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>da977e2d6b91ad96896f</string>
	<key>clientSecret</key>
	<string>5d06d669663255d70e5341f6284c017d582fa240</string>
</dict>
</plist>
